# Variables de entorno con credenciales
.env
**/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Node.js
node_modules/
package-lock.json
*.swp

